@font-face {
  font-family: 'DigiMono';
  src: local('DigiMono'), url(./assets/digital-7.mono.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#calculator {
  max-width: 450px;
  background-color: #555;
}

#screen {
  background-color: #888;
  color: #222;
  font-family: DigiMono;
}

#display {
  min-height: 1.5em;
}

#ops-list {
  min-height: 1.5em;
}