@font-face {
  font-family: 'DigiMono';
  src: local('DigiMono'), url(./assets/digital-7.mono.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#calculator {
  max-width: 400px;
  background-color: #555;
  border-radius: 1em;
  padding: 10px;
}

#control-pad {
  width: 100%;
}

#screen {
  background-color: #888;
  color: #222;
  font-family: DigiMono;
  border-radius: .5em;
  margin-bottom: 10px;
}

#display {
  min-height: 1.5em;
  overflow-x: clip;
}

#ops-list {
  min-height: 1.5em;
  overflow-x: clip;
}

button {
  width: 95px;
  height: 65px;
}

.button-text {
  font-weight: bold;
  font-size: 2em;
}

.double-wide-btn {
  width: 190px;
}